
{% extends 'parts/navbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/acceuil.css' %}">



{% block content1 %}

<img src="{%static 'image/background.png'%}" alt="" srcset="">
<div>
    <div class="feature">
        
        <div class="row">
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass"></i>
                <h3>Consulter</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, rem perspiciatis dolore optio exercitationem velit, doloremque delectus earum impedit, commodi beatae adipisci accusantium ratione ad quisquam quos eaque officiis! Quidem?</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-car"></i>
                <h3>Reserver</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam aliquam rem vero, ullam debitis et asperiores placeat explicabo modi quasi quod soluta. Eos adipisci maxime molestias nemo a sequi quos!</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-money-bill"></i>
                <h3>Payer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde accusamus accusantium, culpa reiciendis rerum ullam dicta illo minus quo aperiam beatae laudantium distinctio modi in quasi, esse sapiente voluptatibus nam!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}


