.navbar-nav > li > a {
    position: relative;
    padding: 8px 15px;
    color: #fff;
  }
  
  .navbar-nav > li > a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-nav > li > a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: all 0.2s ease-in-out;
  }
  
  .navbar-nav > li > a:hover::before,
  .navbar-nav > li > a:hover::after {
    width: 50%;
  }
  
  .navbar-nav > li > a:hover::before {
    left: 0;
  }
  
  .navbar-nav > li > a:hover::after {
    right: 0;
  }
  